/* default styles */
.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

.icon {
    font-size: 12px;
    cursor: pointer;
}

img,
video {
    height: auto;
    width: 100%;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: .8rem 1rem;
}

.btn .icon {
    margin-left: .5rem;
}

/* page style*/
.payroll {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-color: #ECF0F4;

    /* form container */
    .container {
        height: 95vh;
        border-radius: 10px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        background-color: #fff;
        margin-bottom: 30px;
    }

    form {

        /* horizontal line*/
        .hr-text-hr {
            display: flex;
            align-items: center;
        }

        .hr-text-hr hr {
            flex: 1;
            border: none;
            border-top: 1px solid rgb(104, 102, 102);
            margin: 17px 10px;
        }

        .text {
            font-size: 16px;
            color: rgb(107, 105, 105);
            font-weight: 600;
        }

        /* form container*/
        .input-container {
            position: relative;
            margin: 10px 30px;

            .input {
                padding: 10px;
                box-sizing: border-box;
                outline: none;
                border: 1px solid rgb(62, 61, 61);
                border-radius: 5px;
            }

            .placeholder {
                position: absolute;
                top: -10px;
                left: 8px;
                font-size: 14px;
                padding: 0 5px;
                color: rgb(62, 61, 61);
                transition: 0.3s;
                pointer-events: none;
                font-size: 14px;
                background-color: #fff;
            }

            .input:focus+.placeholder {
                color: #0b74dd;
                background-color: #fff;
                font-weight: 600;
            }

            .input:focus {
                border: 1px solid #0b74dd;
            }

            .input::placeholder {
                font-size: 12px;
                color: gray;
            }
        }

        /* total payable container*/
        .total-amount {
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: 1px solid rgb(208, 204, 204);
            padding: 5px;
            margin: 2px 15px;
            border-radius: 5px;

            .header {
                font-weight: 700;
                font-size: 18px;
            }

            .sub-header {
                font-size: 12px;
                color: gray;
                font-weight: 500;
            }

            .amount {
                font-size: 18px;
                font-weight: 700;
                color: green;
            }
        }

        /* button container */
        .button {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 20px;

            .back-button {
                padding: 10px 30px;
                background-color: #96b3cc;
                border: none;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                cursor: pointer;
            }

            .save-button {
                padding: 10px 30px;
                background-color: #96b3cc;
                border: none;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                cursor: pointer;
            }

            .clear-button {
                padding: 10px 50px;
                background-color: #96b3cc;
                border: none;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}