/* default styles */
.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

.icon {
    font-size: 12px;
    cursor: pointer;
}

img,
video {
    height: auto;
    width: 90%;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: .8rem 1rem;
}

.btn .icon {
    margin-left: .5rem;
}

/* page style*/
.payslip {
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-color: #ECF0F4;

    .payslip-form {
        justify-content: center;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        background-color: #fff;
        border-radius: 10px;

        .form {
            margin-top: 25px;

            .field-container {
                .input-container {
                    position: relative;
                    margin: 16px 30px;

                    .input {
                        padding: 12px;
                        box-sizing: border-box;
                        outline: none;
                        border: 1px solid rgb(62, 61, 61);
                        border-radius: 5px;
                    }

                    .placeholder {
                        position: absolute;
                        top: -10px;
                        left: 8px;
                        font-size: 14px;
                        padding: 0 5px;
                        color: rgb(62, 61, 61);
                        transition: 0.3s;
                        pointer-events: none;
                        font-size: 14px;
                        background-color: #fff;
                    }

                    .input:focus+.placeholder {
                        color: #02407f;
                        background-color: #fff;
                        font-weight: 600;
                    }

                    .input:focus {
                        border: 1px solid #02407f;
                    }

                    .label-for-promotion {
                        padding: 5px;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 500;
                        color: gray;
                    }

                    .input::placeholder {
                        font-size: 12px;
                    }
                }
            }

            .button {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 20px;

                .back-button {
                    padding: 10px 30px;
                    background-color: #96b3cc;
                    border: none;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 600;
                    cursor: pointer;
                    border-radius: 5px;
                }

                .save-button {
                    padding: 10px 30px;
                    background-color: #96b3cc;
                    border: none;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 600;
                    cursor: pointer;
                    border-radius: 5px;
                }
            }

            .p-text {
                margin: 0px 32px;
                font-size: 14px;
                font-style: italic;
                font-weight: 500;
                color: gray;
            }

            .select {
                margin: 8px 30px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 0px;
                padding-right: 65px;
                box-sizing: border-box;
                outline: none;
                border: 1px solid rgb(103, 101, 101);
                border-radius: 5px;
                font-size: 14.5px;
                color: rgb(62, 61, 61);

                .option {
                    font-size: 14px;
                }
            }

            .option-selected {
                padding: 8px;
                box-sizing: border-box;
                outline: none;
                border: 1px solid rgb(62, 61, 61);
            }
        }
    }
}