/* default styles */
.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

.icon {
    font-size: 12px;
    cursor: pointer;
}

img,
video {
    height: auto;
    width: 90%;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: .8rem 1rem;
}

.btn .icon {
    margin-left: .5rem;
}

/* page style*/
.add-employee {
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-color: #ECF0F4;

    /* role container*/
    .role-container {
        width: 90vh;
        height: 50vh;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        background-color: #fff;
        border-radius: 10px;

        .p-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 35px;

            .p-text {
                font-size: 17.5px;
                color: gray;
                font-weight: 400;
            }
        }

        .role {
            display: flex;
            justify-content: space-around;
            margin: 20px;

            .roles {
                font-size: 16px;
                color: rgb(162, 160, 160);
                font-weight: 500;
                margin: 12px;
            }

            .admin {
                background: rgb(247, 246, 246);
                padding: 1.8rem 2.8rem;
                cursor: pointer;
                border-radius: 10px;


                .icon {
                    color: #73a2cb;
                    font-size: 38px;
                    cursor: pointer;
                }
            }
        }
    }

    /* employee form container */
    .employee {
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        background-color: #fff;
        border-radius: 10px;

        .form {

            /* close button*/
            .cross button {
                margin-left: 92%;
                color: gray;
                background-color: white;
                border: none;
                font-size: 18px;
            }

            /* input container*/
            .field-container {
                margin-top: -10px;

                .input-container {
                    position: relative;
                    margin: 16px 30px;

                    .input {
                        padding: 12px;
                        box-sizing: border-box;
                        outline: none;
                        border: 1px solid rgb(62, 61, 61);
                        border-radius: 5px;
                    }

                    .placeholder {
                        position: absolute;
                        top: -10px;
                        left: 8px;
                        font-size: 14px;
                        padding: 0 5px;
                        color: rgb(62, 61, 61);
                        transition: 0.3s;
                        pointer-events: none;
                        font-size: 14px;
                        background-color: #fff;
                    }

                    .input:focus+.placeholder {
                        color: #0b74dd;
                        background-color: #fff;
                        font-weight: 600;
                    }

                    .input:focus {
                        border: 1px solid #0b74dd;
                    }

                    input::placeholder {
                        font-size: 12px;
                    }

                    .checkbox {
                        width: 18px;
                        height: 20px;
                        cursor: pointer;
                        outline: none;
                        vertical-align: middle;
                        position: relative;
                    }

                    .label-for-promotion {
                        padding: 5px;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 500;
                        color: gray;
                    }
                }
            }

            /* button container */
            .button {
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 20px;

                .save-button {
                    padding: 10px 60px;
                    background-color: #96b3cc;
                    border: none;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    }

    /* trainee form container*/
    .trainee {
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        background-color: #fff;
        border-radius: 10px;

        .form {

            /* close button*/
            .cross button {
                margin-left: 92%;
                color: gray;
                background-color: white;
                border: none;
                font-size: 18px;
            }

            /* input container*/
            .field-container {
                .input-container {
                    position: relative;
                    margin: 16px 30px;

                    .input {
                        padding: 12px;
                        box-sizing: border-box;
                        outline: none;
                        border: 1px solid rgb(62, 61, 61);
                        border-radius: 5px;
                    }

                    .placeholder {
                        position: absolute;
                        top: -10px;
                        left: 8px;
                        font-size: 14px;
                        padding: 0 5px;
                        color: rgb(62, 61, 61);
                        transition: 0.3s;
                        pointer-events: none;
                        font-size: 14px;
                        background-color: #fff;
                    }

                    .input:focus+.placeholder {
                        color: #0b74dd;
                        background-color: #fff;
                        font-weight: 600;
                    }

                    .input:focus {
                        border: 1px solid #0b74dd;
                    }

                    input::placeholder {
                        font-size: 12px;
                    }

                    .checkbox {
                        width: 18px;
                        height: 20px;
                        cursor: pointer;
                        outline: none;
                        vertical-align: middle;
                        position: relative;
                    }

                    .label-for-promotion {
                        padding: 5px;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 500;
                        color: gray;
                    }
                }
            }

            /* button container */
            .button {
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 20px;

                .save-button {
                    padding: 10px 60px;
                    background-color: #96b3cc;
                    border: none;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    }
}