/* default styles */
.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

.icon {
    font-size: 12px;
    cursor: pointer;
}

img,
video {
    height: auto;
    width: 90%;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: .8rem 1rem;
}

.btn .icon {
    margin-left: .5rem;
}

/* page style*/
.add-employee {
    height: 100vh;
    width: 100%;
    margin: auto;
    border-radius: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 7px 50px rgb(214, 223, 213);
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-color: #eaf3fc;

    .employee {
        height: 80vh;
        width: 80%;
        justify-content: space-between;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        background-color: #fff;
        
        .side-img {
            position: relative;
            display: flex;
            flex-basis: 50%;
            width: 100%;
            height: 100%;
            padding: 0 1.5rem;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            margin: auto;
            border-radius: 10px;
            overflow: hidden;

            .img {
                width: 100%;
                // height: 300px;
                object-fit: cover;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                // height: 50%;
            }
        }

        .form {
            .field-container {
                .input-container {
                    position: relative;
                    margin: 16px 30px;

                    .input {
                        padding: 12px;
                        box-sizing: border-box;
                        outline: none;
                        border: 1px solid rgb(62, 61, 61);
                        border-radius: 5px;
                    }

                    .placeholder {
                        position: absolute;
                        top: -10px;
                        left: 8px;
                        font-size: 14px;
                        padding: 0 5px;
                        color: rgb(62, 61, 61);
                        transition: 0.3s;
                        pointer-events: none;
                        font-size: 14px;
                        background-color: #fff;
                    }

                    .input:focus+.placeholder {
                        color: #02407f;
                        background-color: #fff;
                        font-weight: 600;
                    }

                    .input:focus {
                        border: 1px solid #02407f;
                    }

                    .checkbox {
                        width: 18px;
                        height: 20px;
                        cursor: pointer;
                        outline: none;
                        vertical-align: middle;
                        position: relative;
                    }

                    .label-for-promotion {
                        padding: 5px;
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 500;
                        color: gray;
                    }
                }
            }

            .button {
                display: flex;
                align-items: center;
                justify-content: center;

                .save-button {
                    padding: 10px 120px;
                    background-color: #0580fa;
                    border: none;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    }
}